@use '@angular/material' as mat;
.mat-mdc-table {
    width: 100%;
    background: #ffffff67;
    box-shadow: 0 0 12px 1px rgb(161, 158, 158);
}

// Container runt hela table
.mat-elevation-z8 {
    width: 100%;
    margin: 0 auto;
}

// Container för att lista hur många kurser som visas i tabellen för ramschemat
.course-amount {
    text-align: left;
}

// Visar totalt antal poäng som lagts till i ramschemat
.total-points {
    padding: 1em 1.5em;
    width: fit-content;
    border-radius: 16px;
    background-color: #dadddd81;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.1em;
    span {
        margin-left: 0.2em;
        color: rgb(155, 64, 3);
        font-weight: 600;
    }
    // Ikonen
    mat-icon {
        color: rgb(155, 64, 3);
    }
}

// Texten & ikon för totala antalet kurser
.total-courses {
    @extend .total-points;
    span {
        margin-left: 0.2em;
        color: rgb(155, 64, 3);
        font-weight: 600;
    }
    mat-icon {
        color: rgb(155, 64, 3);
    }
}

// Raden för hela header med kolumnnamnen i tabellen
.mat-mdc-header-row {
    background-color: rgb(233, 229, 11);
}

// Varje enstaka kolumnnamn i headern
.mat-mdc-header-cell {
    font-weight: bold;
    font-size: 1.1em;
    padding: 2px 4px;
    &:hover {
        text-decoration: underline;
    }
}

// Varje enskild cell i tabellen
.mat-mdc-cell {
    font-size: 1em;
    padding: 2px 4px;
}

// Raderna i tabellen
.mat-mdc-row {
    height: 60px;
}

// Bakgrundsfärg på varannan rad i tabellen för att avskilja
.mat-mdc-row:nth-child(even) {
    background: #ebe8e854;
}

// Kolumnen för kurskod
.mat-column-courseCode {
    width: 80px;
    padding: 4px 8px;
}

// Kolumnen för kursnamn
.mat-column-courseName {
    width: 240px;
}

// Kolumnen för poäng
.mat-column-points {
    width: 50px;
}

td.mat-mdc-cell.mat-column-points {
    text-align: left;
}

// Kolumnen för ämne
.mat-column-subject {
    width: 175px;
}

// Kolumnen för kursplan
.mat-column-syllabus {
    padding: 2px 2px;
    width: 60px;
    text-align: center;
    &:hover {
        text-decoration: none;
    }
}

// Ikon för länk till kursplan
td.mat-mdc-cell.mat-column-syllabus a {
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        color: rgb(2, 109, 28);
        transform: scale(1.15);
    }
}

// Kolumnen för att radera kurser från ramschemat
.mat-column-removed {
    width: 60px;
    text-align: center;
    &:hover {
        text-decoration: none;
    }
}

// Cellen och raden för kursplan
.course-plan-row {
    display: flex;
    align-items: center;
    gap: 3px;
    margin: 0 auto;
}

// Ikon för att ta bort en kurs, papperskorg visas inte på desktop
.delete-icon {
    display: none;
}

// Knapp för att ta bort en kurs
.delete-course-btn {
    background-color: rgb(245, 158, 100);
    padding: 0.8em 1.5em;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 0.95em;
    font-weight: bold;
    transition: .2s ease-in-out;
    box-shadow: 0 0 4px 0.2px black;
    white-space: nowrap;
    &:hover {
        background-color: rgba(63, 185, 6, 0.699);
    }
    &.clicked {
        background-color: rgba(245, 158, 100, 0.671);
        cursor: default;
        transition: 0.3s ease;
        transform: scale(0.95);
    }
}

@media (max-width:900px) {
    .delete-course-btn {
        padding: 0.8em 0.5em;
        font-size: 0.95em;
    }
}

@media (max-width: 600px) {
    .mat-mdc-cell,
    .mat-mdc-header-cell {
        white-space: normal;
    }
    mat-elevation-z8 {
        overflow-x: auto;
    }
    .table-container {
        padding: 0em;
    }
    // Kolumnernas rubriker
    .mat-mdc-header-row {
        font-size: 0.75em;
    }
    // Kolumernas rubriker varje cell
    .mat-mdc-header-cell {
        padding: 1px 2px;
    }
    // Radernas celler
    .mat-mdc-cell {
        font-size: 0.75em;
        padding: 1px 2px;
        line-height: 1.2;
    }
    // Raderna
    .mat-mdc-row {
        height: 50px;
        hyphens: auto;
    }
    // Kolumn för kurskod
    .mat-column-courseCode {
        width: 60px;
        padding: 2px 4px;
    }
    // Kolumn för kursnamn
    .mat-column-courseName {
        width: 170px;
    }
    .points-header {
        text-align: center !important;
    }
    .points-cell {
        text-align: center !important;
    }
    // Kolumn för poäng
    .mat-column-points {
        width: 30px;
        text-align: center;
    }
    td.mat-mdc-cell.mat-column-points {
        text-align: center;
        padding: 0;
    }
    // Kolumn för ämne
    .mat-column-subject {
        width: 105px;
    }
    // Kolumn för kursplan
    .mat-column-syllabus {
        padding: 1px 1px;
        width: 40px;
    }
    // Länk (ikonen) till kursplan
    .syllabus-icon {
        font-size: 20px;
        width: 22px;
        height: 22px;
        line-height: 22px;
        transition: transform 0.15s ease;
    }
    .course-plan-row:hover .syllabus-icon {
        transform: scale(1.05);
    }
    // Kolumn för att lägga till kurs i ramschema
    .mat-column-add {
        width: 60px;
        padding: 0 0.6em;
    }
    // Rad för kursplan
    .course-plan-row {
        gap: 1px;
    }
    .delete-course-btn {
        padding: 0.8em 0.7em;
        font-size: 0.8em;
    }
    .delete-course-text {
        display: block;
    }
    .delete-icon {
        display: none;
    }
}

@media (max-width: 400px) {
    // Visar inte knappens text
    .delete-course-text {
        display: none;
    }
    // Visar ikonen
    .delete-icon {
        display: block;
        align-content: center;
        font-size: 16px;
        height: 20px;
        width: 20px;
    }
    // Gör knappen för ikonen lite mindre
    .delete-course-btn {
        padding: 0em;
        font-size: 0.8em;
    }
    // Kolumnernas rubriker
    .mat-mdc-header-row {
        font-size: 0.7em;
    }
    // Kolumernas rubriker varje cell
    .mat-mdc-header-cell {
        padding: 1px 2px;
    }
    // Radernas celler
    .mat-mdc-cell {
        font-size: 0.6em;
        padding: 1px 2px;
        line-height: 1.2;
    }
    // Raderna
    .mat-mdc-row {
        height: 45px;
    }
}