article {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100vh;
    text-align: center;
    align-content: center;
    background-color: rgb(245, 172, 172);
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 3em;
    }
    p {
        color: rgb(0, 0, 0);
    }
}