<!-- Länkar till undersidorna kurser och kurschema-->
<div class="links" aria-label="Länkar till undersidorna, kurser och ramschema">
    <div class="course-area">
        <a class="link-courses" routerLink="/kurser" routerLinkActive="current">Kurser<mat-icon>arrow_forward</mat-icon></a>
        <p>Se universitets kurser</p>
    </div>
    <div class="schema-area">
        <a class="link-schema" routerLink="/ramschema" routerLinkActive="current">Ramschema<mat-icon>arrow_forward</mat-icon></a>
        <p>Dina tillagda kurser</p>
    </div>
</div>
<!-- Avsnitt med vilka är vi-->
<section>
    <h1>Vilka är vi?</h1>
    <div class="about-container">
        <p> Sedan starten 2015 i Örnsköldsvik har Norrlands Universitet varit en plats där gemenskap, nyfikenhet och framtidsdrömmar får ta form. Vi hjälper dig med allt från bostad till studievägledning. Hos oss ska du trivas!</p>
        <ul>
            <li>
                <mat-icon class="group-icon">groups</mat-icon>Nära och personlig studiemiljö.
            </li>
            <li>
                <mat-icon class="hub-icon">hub</mat-icon>Program och kurser utvecklade tillsammans med näringslivet.
            </li>
        </ul>
    </div>
</section>