section {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin: 1em 0;
}

.link-about {
    display: flex;
    align-items: center;
    font-size: clamp(1em, 2vw, 1.5em);
    color: black;
    text-decoration: none;
    padding: clamp(0.3em, 2vw, 0.5em) clamp(1.5em, 5vw, 4em);
    border-top: 5px solid #FBBF24 !important;
    border: 1px solid rgba(124, 124, 124, 0.473);
    box-shadow: 0 0 4px 0.2px black;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    transition: 0.3s ease;
    &:hover {
        background-color: #FBBF24;
    }
}

mat-icon {
    align-content: center;
    font-size: clamp(1.3rem, 2vw, 1.5rem);
    width: 30px;
    height: 30px;
    margin-left: 0.3em;
}

.link-courses {
    @extend .link-about;
    border-top: 5px solid #1275f7 !important;
    &:hover {
        background-color: #1275f7;
    }
}