<div class="stats-container">
    <section>
        <h2>Statistik</h2>
        <div class="p-container">
            <div class="p-items">
                <span><mat-icon class="school-icon">school</mat-icon></span>
                <p>12 000+ studenter</p>
            </div>
            <div class="p-items">
                <span><mat-icon class="book-icon">menu_book</mat-icon></span>
                <p>4000+ kurser</p>
            </div>
            <div class="p-items">
                <span><mat-icon class="star-icon">star</mat-icon></span>
                <p>91% nöjda studenter</p>
            </div>
        </div>
    </section>
    <article class="choose-us">
        <h3>Varför välja oss?</h3>
        <ul>
            <li>
                <mat-icon class="park-icon">park</mat-icon>
                Studera nära naturen

            </li>
            <li>
                <mat-icon class="schedule">schedule</mat-icon>
                Flexibla studier

            </li>
            <li>
                <mat-icon class="trend-icon">trending_up</mat-icon>
                Framtidsinriktade utbildningar

            </li>
        </ul>
    </article>
</div>