<div class="pictures-flex">
    <div class="single-pic">
        <picture>
            <source srcset="/images/campus/library-avif.avif" type="image/avif">
            <source srcset="/images/campus/library-jpg.jpg" type="image/jpg">
            <img loading="lazy" src="/images/campus/library-jpg.jpg" alt="Student som läser bok med två personer i bakgrunden sittandes inuti ett bibliotek">
        </picture>
        <div class="pictures-text">
            <h3>Bibliotek</h3>
            <p>Biblioteket är en naturlig mötesplats för våra studenter. Här kan du studera i lugn och ro, få hjälp av vår kunnig personal och låna allt från kurslitteratur till forskningsmaterial. Vi samarbetar med andra universitet, vilket gör att du enkelt
                kan:
            </p>
            <ul>
                <li>Beställa hem material som du saknar.</li>
                <li>Sälja vidare kurslitteratur till andra studenter.</li>
            </ul>
            <p><span>Tjäna pengar under studierna?</span> Biblioteket har nu möjlighet att acceptera studenter för extrajobb under sommar och vinter. Ta chansen!</p>
        </div>
    </div>

    <div class="single-pic">
        <picture>
            <source srcset="/images/campus/student-snow-avif.avif" type="image/avif">
            <source srcset="/images/campus/student-snow-jpg.jpg" type="image/jpg">
            <img loading="lazy" src="/images/campus/student-snow-jpg.jpg" alt="Person med ryggsäck ute bland snö på gata">
        </picture>
        <div class="pictures-text">
            <h3>Campus</h3>
            <p>Vårt campus ligger mitt i ett av Sveriges vackraste vinterlandskap. <strong>Vi erbjuder:</strong> </p>
            <ul>
                <li>Högkvalitativa utbildningar med närhet till natur och friluftsliv.</li>
                <li>Inspiration och glädje till dina studier genom studiegrupper och en aktiv studentkår.</li>
                <li>Spännande kurser som erbjuder en balans mellan praktiska och teoretiska moment.</li>
            </ul>
            <p class="dog-sledding">
                <mat-icon>celebration</mat-icon>
                <span>Aktuellt</span> kurskåren arrangerar inför kommande termin hundsläde utanför campus tillsammans med förtäring av kolbulle, varma mackor och chokladdryck med grädde.
            </p>
        </div>
    </div>
</div>

<div class="card-grid">
    <div>
        <mat-card class="icon-card" appearance="outlined">
            <mat-card-header>
                <div mat-card-avatar class="man-header"></div>
                <mat-card-title class="title">Bruno </mat-card-title>
                <mat-card-subtitle class="subtitle">Doktorand, Datorvetenskap</mat-card-subtitle>
            </mat-card-header>
            <img loading="lazy" mat-card-image src="/images/students/student-man.jpg" alt="Person som sitter framför en datorskärm.">
            <mat-card-content>
                <p class="card-text">
                    - Forskningen på Norrlands Universitet gav mig möjligheten att fördjupa mig i det jag brinner för, nämligen datorer.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div>
        <mat-card class="icon-card" appearance="outlined">
            <mat-card-header>
                <div mat-card-avatar class="girl-header"></div>
                <mat-card-title class="title">Melinda </mat-card-title>
                <mat-card-subtitle class="subtitle">Student, Geologi</mat-card-subtitle>
            </mat-card-header>
            <img loading="lazy" mat-card-image src="/images/students/student-girl.jpg" alt="Student med böcker i handen">
            <mat-card-content>
                <p class="card-text">
                    - Det personliga ramschemat gjorde mina studier enklare. Jag kunde studera det jag önskade för min egen examen.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>