h1 {
    text-align: center;
}

main {
    padding: 2em;
    width: 1000;
    max-width: 1240px;
    margin: 0 auto;
    flex: 1;
    min-height: 100%;
    text-align: center;
}

@media (max-width: 600px) {
    main {
        padding: 0em;
    }
}