<header>
    <div class="header-logo">
        <p class="header-text">Norrlands Universitet</p>
        <a routerLink="/hem"><img src="/images/icon-typescript.png" alt="Logotyp Norrlands Universitet"></a>
    </div>
    <nav aria-label="Huvudmeny för sidlänkar">
        <ul>
            <li><a routerLink="/hem" routerLinkActive="current">Hem</a></li>
            <!--<li>
                <a routerLink="/ramschema" routerLinkActive="current">Ramschema</a>
            </li>-->
        </ul>
    </nav>
</header>