<mat-form-field class="theme-box" appearance="outline">
    <mat-label>Tema</mat-label>
    <mat-select [value]="theme()" (selectionChange)="changeTheme($event.value)">
        <mat-select-trigger>
            <mat-icon> {{theme() === "light" ? "light_mode": "dark_mode"}}</mat-icon><span>
                {{theme() === "light" ?"Ljust tema": "Mörkt tema"}}
            </span>
        </mat-select-trigger>
        <mat-option class="mat-option-light" value="light"><span>
                Ljust tema
            </span>
            <mat-icon>light_mode</mat-icon>
        </mat-option>
        <mat-option class="mat-option-dark" value="dark"><span>
            Mörkt tema
        </span>
            <mat-icon>dark_mode</mat-icon>
        </mat-option>
    </mat-select>
</mat-form-field>