    @use '@angular/material' as mat;
    $color-primary:#53CBF3;
    $color-secondary:#FFDE42;
    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.2em;
    }
    
    // Knapp för att gå framåt till ramschemat
    .forward-container {
        text-align: right;
        mat-button {
            color: brown;
        }
        .forward-btn {
            display: inline-flex;
            align-items: center;
            gap: 0.5em;
            font-size: 1.1em;
            margin-bottom: 0.2em;
            font-weight: bold;
            border-radius: 4px;
            text-decoration: none;
            color: white;
            cursor: pointer;
            transition: 0.3s ease-in-out;
            background: linear-gradient(135deg, #cf7a03, #d67702, #d96b00);
            &:hover {
                transform: translateY(-2px);
            }
        }
    }
    
    // Tabellen
    .mat-mdc-table {
        width: 100%;
        background: #ffffff;
        box-shadow: 0 0 12px 1px rgb(161, 158, 158);
    }
    
    // Container ovanför tabellen
    .table-cont-header {
        display: flex;
        flex-direction: column;
        background-color: $color-primary;
    }
    
    // Container runt tabellen
    mat-elevation-z8 {
        width: 100%;
        margin: 0 auto;
    }
    
    // Hur många kurser som visas i tabellen
    .course-counter {
        text-align: left;
        font-weight: 500;
        padding: 0 1em;
        font-size: 1.1em;
    }
    
    // Container med antalet poäng som man vill läsa
    .points-container {
        margin: 1em auto;
        padding: 1em;
        width: 50%;
        background-color: #05a7ff;
        border-radius: 12px;
        box-shadow: 0 0 10px 3px #05a7ff;
        gap: 0.8em;
        // Felmeddelande
        .warning-points {
            display: flex;
            align-items: center;
            color: #f55e5e;
            letter-spacing: 0.5px;
            font-weight: bold;
            font-size: 1.2em;
            margin-top: 0.2em;
        }
        .points-text {
            color: #ffffff;
            font-size: 1.2em;
            font-weight: bold;
            margin-top: 0.2em;
        }
        .warning-label {
            @extend .warning-points;
            color: #740101;
            letter-spacing: 0.9px;
            margin-bottom: 0;
        }
    }
    
    .input-points-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.8em;
        margin: 0 auto;
        .points-input {
            margin: 0 auto;
            width: 100px;
            padding: 0.5em;
            font-size: 1.1em;
            border: 2px solid #ccc;
            border-radius: 8px;
            transition: border-color 0.3s ease;
            align-self: center;
        }
        .points-label {
            display: flex;
            align-items: center;
            font-size: 1.2em;
            font-weight: bold;
            color: #000000;
            text-align: center;
            animation: pulse 4s ease-in-out infinite;
        }
    }
    
    .points-complete-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        gap: 0.2em;
        .points-complete {
            @extend .points-left;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin: 0 auto;
            animation: pulse 2s ease-in-out infinite, textShine 2s ease-in-out infinite;
        }
        .schema-link {
            margin: 0 0 0.2em;
            padding: 0.5em;
            background-color: #FBBF24;
            color: black;
            font-weight: bold;
            border-radius: 4px;
            text-decoration: none;
            transition: background-color 0.3s ease;
            &:hover {
                background-color: #FBBF24cc;
            }
        }
    }
    
    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.05);
        }
        100% {
            transform: scale(1);
        }
    }
    
    @keyframes textShine {
        0% {
            color: #ffffff;
        }
        50% {
            color: #FBBF24;
        }
        100% {
            color: #ffffff;
        }
    }
    
    // Container för progressbaren visas
    .homemade-bar-container {
        width: 62.5%;
        max-width: 800px;
        backdrop-filter: blur(4px);
        background-color: #3b3a3adc;
        padding: 1em 2em;
        border-radius: 4px;
        position: fixed;
        z-index: 10;
        bottom: 0;
        left: 50%;
        opacity: 0;
        color: white;
        box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.555);
        transform: translateX(-50%);
        transition: opacity 0.35s ease, transform 0.35s ease;
        &:hover {
            transform: translateX(-50%) scale(1.01);
            transition: transform 0.2s ease;
        }
        // Tillhörande text för progressbaren
        .points-left {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1em;
            font-weight: 600;
            margin: 0 auto;
            text-align: center;
        } // Ikon
        .points-left-icon {
            font-size: 1.7em;
            width: 1.7em;
            height: 1.7em;
            align-content: center;
        }
    }
    
    // Visar progressebaren
    .homemade-bar-container.show {
        opacity: 1;
    }
    
    // Container för att filtrera kurser i tabellen
    .filter-field {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        background-color: $color-primary;
        gap: 2em;
        width: 100%;
    }
    
    // Formuläret för filtrering
    mat-form-field {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1em;
        gap: 2px;
        flex: 1 1 20px;
        max-width: 375px;
        width: 100%;
        padding: 0;
        margin-top: 1em;
        mat-label {
            font-size: 1em;
        }
        input {
            font-size: 1.2em;
        }
    }
    
    // Meny för att välja ämne i tabellen
    .dropdown-menu {
        font-size: 1em;
        mat-label {
            font-size: 1em;
        }
        mat-select {
            font-size: 1.2em;
        }
        mat-option {
            font-size: 1.2em;
        }
    }
    
    .mat-mdc-select-value,
    .mat-mdc-option {
        font-size: 0.9em;
    }
    
    .mat-mdc-header-row {
        background-color: rgb(233, 229, 11);
    }
    
    .mat-mdc-header-cell {
        font-weight: bold;
        font-size: 1.1em;
        padding: 2px 4px;
        &:hover {
            text-decoration: underline;
        }
    }
    
    .mat-mdc-cell {
        font-size: 1em;
        padding: 2px 4px;
    }
    
    .mat-mdc-row {
        height: 60px;
    }
    
    // Bakgrundsfärg på varannan rad i tabellen för att avskilja
    .mat-mdc-row:nth-child(even) {
        background: #ebe8e854;
    }
    
    .mat-column-courseCode {
        width: 80px;
        padding: 4px 8px;
    }
    
    .mat-column-courseName {
        width: 240px;
    }
    
    .mat-column-points {
        width: 50px;
    }
    
    td.mat-mdc-cell.mat-column-points {
        text-align: left;
    }
    
    .mat-column-subject {
        width: 175px;
    }
    
    .mat-column-syllabus {
        padding: 2px 2px;
        width: 60px;
        text-align: center;
        &:hover {
            text-decoration: none;
        }
    }
    
    // Ikon för länk till kursplan
    td.mat-mdc-cell.mat-column-syllabus a {
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            color: rgb(2, 109, 28);
            transform: scale(1.15);
        }
    }
    
    // Kolumnen för att lägga till respektive kurs i ramschema
    .mat-column-add {
        width: 60px;
        text-align: center;
        &:hover {
            text-decoration: none;
        }
    }
    
    // Cellen och raden för kursplan
    .course-plan-row {
        display: flex;
        align-items: center;
        gap: 3px;
        margin: 0 auto;
    }
    
    // Ikon för att lägga till en kurs, +  visas inte på desktop
    .add-icon {
        display: none;
    }
    
    // Knapp för att lägga till en kurs
    .add-course-btn {
        background-color: rgb(245, 158, 100);
        padding: 0.8em 1.5em;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        font-size: 0.95em;
        font-weight: bold;
        transition: .2s ease-in-out;
        box-shadow: 0 0 4px 0.2px black;
        white-space: nowrap;
        &:hover {
            background-color: rgba(63, 185, 6, 0.699);
        }
        &.clicked {
            background-color: rgba(245, 158, 100, 0.671);
            cursor: default;
            transition: 0.3s ease;
            transform: scale(0.95);
        }
    }
    
    @media (max-width:900px) {
        .add-course-btn {
            padding: 0.8em 0.5em;
            font-size: 0.95em;
        }
    }
    
    @media (max-width: 660px) {
        .points-container {
            .points-label {
                font-size: 1em;
            }
            .points-input {
                width: 80px;
                padding: 0.5em;
                font-size: 1em;
            }
            .warning-points {
                font-size: 1em;
            }
            .points-text {
                font-size: 1.1em;
            }
        }
        .homemade-bar-container {
            .points-left {
                font-size: 0.95em;
            }
            .points-left-icon {
                font-size: 1.6em;
                width: 1.6em;
                height: 1.6em;
            }
        }
        .mat-mdc-cell,
        .mat-mdc-header-cell {
            white-space: normal;
        }
        mat-elevation-z8 {
            overflow-x: auto;
        }
        .filter-field {
            gap: 0.5em;
        }
        .table-container {
            padding: 0em;
        }
        mat-form-field {
            gap: 1px;
            width: 225px;
            mat-label {
                font-size: 0.9em;
            }
            input {
                font-size: 1em;
            }
        }
        .dropdown-menu {
            font-size: 1em;
            mat-label {
                font-size: 0.9em;
            }
            mat-select {
                font-size: 1em;
            }
            mat-option {
                font-size: 1em;
            }
        }
        // Selectbox med val av
        .mat-mdc-select-value,
        .mat-mdc-option {
            font-size: 0.9em;
        }
        // Kolumnernas rubriker
        .mat-mdc-header-row {
            font-size: 0.75em;
        }
        // Kolumernas rubriker varje cell
        .mat-mdc-header-cell {
            padding: 1px 2px;
        }
        // Radernas celler
        .mat-mdc-cell {
            font-size: 0.75em;
            padding: 1px 2px;
            line-height: 1.2;
        }
        // Raderna
        .mat-mdc-row {
            height: 50px;
            hyphens: auto;
        }
        // Kolumn för kurskod
        .mat-column-courseCode {
            width: 60px;
            padding: 2px 4px;
        }
        // Kolumn för kursnamn
        .mat-column-courseName {
            width: 170px;
        }
        .points-header {
            text-align: center !important;
        }
        .points-cell {
            text-align: center !important;
        }
        // Kolumn för poäng
        .mat-column-points {
            width: 30px;
            text-align: center;
        }
        td.mat-mdc-cell.mat-column-points {
            text-align: center;
            padding: 0;
        }
        // Kolumn för ämne
        .mat-column-subject {
            width: 105px;
        }
        // Kolumn för kursplan
        .mat-column-syllabus {
            padding: 1px 1px;
            width: 40px;
        }
        // Länk (ikonen) till kursplan
        .syllabus-icon {
            font-size: 25px;
            width: 25px;
            height: 25px;
            line-height: 25px;
            transition: transform 0.15s ease;
        }
        .course-plan-row:hover .syllabus-icon {
            transform: scale(1.05);
        }
        // Kolumn för att lägga till kurs i ramschema
        .mat-column-add {
            width: 60px;
            padding: 0 0.6em;
        }
        // Rad för kursplan
        .course-plan-row {
            gap: 1px;
        }
        .add-course-btn {
            padding: 0.8em 0.7em;
            font-size: 0.8em;
        }
        .add-course-text {
            display: block;
        }
        .add-icon {
            display: none;
        }
        .course-counter {
            font-size: 0.95em;
            padding: 0 0.5em;
        }
    }
    
    @media (max-width: 500px) {
        .points-container {
            width: 80%;
            .points-label {
                font-size: 0.9em;
            }
            .points-input {
                width: 80px;
                padding: 0.5em;
                font-size: 0.9em;
            }
            .points-text {
                font-size: 0.95em;
            }
        }
        .warning-points {
            font-size: 0.9em;
            mat-icon {
                font-size: 1.5em;
                width: 1.5em;
                height: 1.5em;
            }
        }
        .homemade-bar-container {
            width: 100%;
            padding: 0.5em 0em;
            .points-left {
                font-size: 0.9em;
            }
            .points-left-icon {
                font-size: 1.6em;
                width: 1.6em;
                height: 1.6em;
            }
        }
        .forward-btn {
            padding: 0.9em 0.5em;
            font-size: 1em;
            margin-right: 0.3em;
            margin-top: 0.5em;
            mat-icon {
                margin-left: 0.2em;
            }
        }
        h1 {
            mat-icon {
                margin-left: 0em;
            }
        }
    }
    
    @media (max-width: 420px) {
        .points-container {
            .points-label {
                font-size: 0.9em;
            }
            .points-input {
                width: 80px;
                padding: 0.5em;
                font-size: 0.9em;
            }
            .warning-points {
                font-size: 0.9em;
            }
            .points-text {
                font-size: 0.95em;
            }
        }
        .homemade-bar-container {
            .points-left {
                font-size: 0.9em;
            }
            .points-left-icon {
                font-size: 1.6em;
                width: 1.6em;
                height: 1.6em;
            }
        }
        // Visar inte knappens text
        .add-course-text {
            display: none;
        }
        // Visar ikonen
        .add-icon {
            display: block;
            align-content: center;
            font-size: 20px;
            height: 25px;
            width: 25px;
        }
        // Gör knappen för ikonen lite mindre
        .add-course-btn {
            padding: 0em;
            font-size: 0.8em;
        }
        mat-form-field {
            gap: 1px;
            width: 225px;
            mat-label {
                font-size: 0.9em;
            }
        }
        .dropdown-menu {
            font-size: 1em;
            mat-label {
                font-size: 0.9em;
            }
        }
        // Selectbox med val av
        .mat-mdc-select-value,
        .mat-mdc-option {
            font-size: 0.9em;
        }
        // Kolumnernas rubriker
        .mat-mdc-header-row {
            font-size: 0.7em;
        }
        // Kolumernas rubriker varje cell
        .mat-mdc-header-cell {
            padding: 1px 2px;
        }
        // Radernas celler
        .mat-mdc-cell {
            font-size: 0.6em;
            padding: 1px 2px;
            line-height: 1.2;
        }
        // Raderna
        .mat-mdc-row {
            height: 45px;
        }
        td.cell-coursename {
            width: 110px;
            padding: 0;
            margin: 0;
        }
    }
    
    @media (max-width: 365px) {
        .add-course-text {
            display: none;
        }
        .add-course-btn {
            .add-icon {
                display: block;
                align-content: center;
                font-size: 19px;
                height: 25px;
                width: 25px;
            }
        }
        mat-form-field {
            width: 225px;
            mat-label {
                font-size: 0.9em;
            }
        }
        .dropdown-menu {
            font-size: 1em;
            mat-label {
                font-size: 0.9em;
            }
        }
        // Länk (ikonen) till kursplan
        /*.syllabus-icon {
            font-size: 22px;
            width: 30px;
            height: 20px;
            line-height: 25px;
            transition: transform 0.15s ease;
        }*/
        // Selectbox med val av
        .mat-mdc-select-value,
        .mat-mdc-option {
            font-size: 0.9em;
        }
        // Kolumnernas rubriker
        .mat-mdc-header-row {
            background-color: rgb(233, 229, 11);
            font-size: 0.7em;
        }
        // Kolumernas rubriker varje cell
        .mat-mdc-header-cell {
            padding: 0.5px 0.75px;
        }
        // Radernas celler
        .mat-mdc-cell {
            font-size: 0.6em;
            padding: 1px 0.5px;
            line-height: 1.2;
        }
        .mat-cell,
        .mat-header-cell {
            padding: 2px 4px;
        }
        // Raderna
        .mat-mdc-row {
            height: auto;
        }
        .mat-column-courseCode {
            width: auto;
            padding: 2px 4px;
        }
        .mat-column-courseName {
            width: auto;
        }
        .mat-column-points {
            width: auto;
        }
        td.mat-mdc-cell.mat-column-points {
            text-align: left;
        }
        .mat-column-subject {
            width: auto;
        }
        .mat-column-syllabus {
            text-align: left;
        }
        .mat-column-add {
            text-align: center;
        }
        .header-courseplan {
            text-align: left !important;
        }
        .cell-courseplan {
            text-align: left !important;
        }
        th.header-coursecode,
        td.cell-coursecode,
        th.header-coursename,
        td.cell-coursename,
        .header-subject,
        .cell-subject {
            padding: 0.5em 1px;
        }
        .cell-points,
        .header-points {
            text-align: right;
        }
        .cell-points {
            text-align: center !important;
        }
        // Kolumn för kurskod
        .mat-column-courseCode {
            flex: 0 0 50px;
            padding: 2px 4px;
            text-align: center;
        }
        .mat-column-courseCode .mat-mdc-header-cell,
        .mat-column-courseCode .mat-mdc-cell {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }