@use '@angular/material' as mat;
.mat-mdc-table {
    width: 100%;
    background: #ffffff;
    box-shadow: 0 0 12px 1px rgb(161, 158, 158);
}

mat-elevation-z8 {
    width: 100%;
    margin: 0 auto;
}

.filter-field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    width: 100%;
}

mat-form-field {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    gap: 2px;
    width: 375px;
    padding: 0;
    mat-label {
        font-size: 0.9em;
    }
}

.dropdown-menu {
    font-size: 1em;
    mat-label {
        font-size: 0.9em;
    }
}

.mat-mdc-select-value,
.mat-mdc-option {
    font-size: 0.9em;
}

.mat-mdc-header-row {
    background-color: rgb(233, 229, 11);
}

.mat-mdc-header-cell {
    font-weight: bold;
    font-size: 0.95em;
    padding: 2px 4px;
    &:hover {
        text-decoration: underline;
    }
}

.mat-mdc-cell {
    font-size: 0.9em;
    padding: 2px 4px;
}

.mat-mdc-row {
    height: 50px;
}

// Bakgrundsfärg på varannan rad i tabellen för att avskilja
.mat-mdc-row:nth-child(even) {
    background: #ebe8e854;
}

.mat-column-courseCode {
    width: 80px;
    padding: 4px 8px;
}

.mat-column-courseName {
    width: 240px;
}

.mat-column-points {
    width: 50px;
}

td.mat-mdc-cell.mat-column-points {
    text-align: left;
}

.mat-column-subject {
    width: 175px;
}

.mat-column-syllabus {
    padding: 2px 2px;
    width: 60px;
    text-align: center;
    &:hover {
        text-decoration: none;
    }
}

td.mat-mdc-cell.mat-column-syllabus a {
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        color: rgb(2, 109, 28);
        transform: scale(1.15);
    }
}

.mat-column-add {
    width: 60px;
    text-align: center;
    &:hover {
        text-decoration: none;
    }
}

.course-plan-row {
    display: flex;
    align-items: center;
    gap: 3px;
    margin: 0 auto;
}

.add-icon {
    display: none;
}

.add-course-btn {
    background-color: rgb(245, 158, 100);
    padding: 0.6em 0.75em;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 0.95em;
    font-weight: bold;
    transition: .2s ease-in-out;
    box-shadow: 0 0 4px 0.2px black;
    &:hover {
        background-color: rgba(63, 185, 6, 0.699);
    }
    &.clicked {
        background-color: rgba(245, 158, 100, 0.671);
        cursor: default;
        transition: 0.3s ease;
        transform: scale(0.95);
    }
}

@media (max-width:900px) {
    .mat-mdc-row {
        height: 60px;
    }
}

@media (max-width: 600px) {
    .mat-mdc-cell,
    .mat-mdc-header-cell {
        white-space: normal;
    }
    mat-elevation-z8 {
        overflow-x: auto;
    }
    .filter-field {
        gap: 0.5em;
    }
    .table-container {
        padding: 0em;
    }
    mat-form-field {
        gap: 1px;
        width: 225px;
        mat-label {
            font-size: 0.9em;
        }
    }
    .dropdown-menu {
        font-size: 1em;
        mat-label {
            font-size: 0.9em;
        }
    }
    // Selectbox med val av
    .mat-mdc-select-value,
    .mat-mdc-option {
        font-size: 0.9em;
    }
    // Kolumnernas rubriker
    .mat-mdc-header-row {
        background-color: rgb(233, 229, 11);
        font-size: 0.7em;
    }
    // Kolumernas rubriker varje cell
    .mat-mdc-header-cell {
        padding: 1x 2px;
    }
    // Radernas celler
    .mat-mdc-cell {
        font-size: 0.6em;
        padding: 1px 2px;
        line-height: 1.2;
    }
    // Raderna
    .mat-mdc-row {
        height: 40px;
        hyphens: auto;
    }
    // Kolumn för kurskod
    .mat-column-courseCode {
        width: 60px;
        padding: 2px 4px;
    }
    // Kolumn för kursnamn
    .mat-column-courseName {
        width: 170px;
    }
    .points-header {
        text-align: center !important;
    }
    .points-cell {
        text-align: center !important;
    }
    // Kolumn för poäng
    .mat-column-points {
        width: 30px;
        text-align: center;
    }
    td.mat-mdc-cell.mat-column-points {
        text-align: center;
        padding: 0;
    }
    // Kolumn för ämne
    .mat-column-subject {
        width: 125px;
    }
    // Kolumn för kursplan
    .mat-column-syllabus {
        padding: 1px 1px;
        width: 40px;
    }
    // Länk (ikonen) till kursplan
    .syllabus-icon {
        font-size: 20px;
        width: 22px;
        height: 22px;
        line-height: 22px;
        transition: transform 0.15s ease;
    }
    .course-plan-row:hover .syllabus-icon {
        transform: scale(1.05);
    }
    // Kolumn för att lägga till kurs i ramschema
    .mat-column-add {
        width: 60px;
        padding: 0 0.6em;
    }
    // Rad för kursplan
    .course-plan-row {
        gap: 1px;
    }
    .add-course-btn {
        padding: 1em 0.5em;
        font-size: 0.8em;
    }
    .add-course-text {
        display: block;
    }
    .add-icon {
        display: none;
    }
}

@media (max-width: 380px) {
    .add-course-text {
        display: none;
    }
    .add-icon {
        display: block;
        align-content: center;
        font-size: 16px;
    }
    .add-course-btn {
        padding: 0em;
        font-size: 0.8em;
    }
}


/*@media (max-width: 365px) {

    .mat-column-courseCode {}
}*/